resources/dtd/suppliers.dtd

<!ENTITY version "V0.01 (C) CashewOutside 2019">
        <!ELEMENT suppliers (description, providers)>
        <!ELEMENT providers ((supplier*))>
<!ELEMENT description (#PCDATA)>
<!ELEMENT supplier (sid, name, address, phone, email?, url?)>
<!ELEMENT sid (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
        <!ATTLIST supplier type (MOBILE|WORK|HOME|UNKNOWN) "UNKNOWN">
<!ELEMENT email (#PCDATA)>
<!ELEMENT url (#PCDATA)>